<ul >
   <li *ngFor="let bookinfo of  bookinfolist">
     <button mat-button  (click)="itemClick(bookinfo)" >
         <mat-icon>description</mat-icon>{{bookinfo.name}}</button>
          <button mat-icon-button (click)="changeOpen(bookinfo)">
             <mat-icon *ngIf="bookinfo.openflag">arrow_drop_down</mat-icon>
             <mat-icon *ngIf="!bookinfo.openflag">arrow_right</mat-icon>
            </button>
          <!--调用组件本身并 传值给下级: [bookinfolist]="bookinfo.bookInfos"
          (outBookInfo)="itemClick($event)将底层事件一直往上传"-->
          <app-booktree  *ngIf="bookinfo.openflag && bookinfo.bookInfos" [bookinfolist]="bookinfo.bookInfos" (outBookInfo)="itemClick($event)">&nbsp;&nbsp; </app-booktree>
   </li>
</ul>