.active{
    color: greenyellow;
}

 
a {font-size:46px} 
a:link {color:blue;text-decoration:none;}  
a:visited {text-decoration:none;}
a:hover {color: red; text-decoration:underline;} 

.root-container{
    height: 100vh;
}
